.login_bg {
  background: no-repeat fixed center url('../../assets/login_bg.png');
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position:fixed;

  .login_register_btn {
    margin-top: 500px;
    // background-color: yellow;
    display: flex;
    width:  100%;
    height: 100px;
    justify-content: center;

    .selected {
      background-color: burlywood;
      width: 200px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .no_selected {
      background-color: red;
      width: 200px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .login_input_view{
    width: 100%;
    height: 100%;
    color: #000;
  }
}
