.login_bg {
  background: no-repeat fixed center url('../../assets/login_bg.png');
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position:fixed;

  .login_register_btn {
    margin-top: 500px;
    // background-color: yellow;
    display: flex;
    width:  100%;
    height: 100px;
    justify-content: center;

    .btn_left_unSelect {
      background-color: whitesmoke;
      width: 150PX;
      height: 50PX;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 50PX;
      border-bottom-left-radius: 50PX;
      font-size: 16PX;
      color:black;
    }

    .btn_left_select {
      background-color: deeppink;
      width: 150PX;
      height: 50PX;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 50PX;
      border-bottom-left-radius: 50PX;
      font-size: 16PX;
      color:white;
    }

    .btn_right_unSelect{
      background-color: whitesmoke;
      width: 150PX;
      height: 50PX;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-right-radius: 50PX;
      border-bottom-right-radius: 50PX;
      font-size: 16PX;
      color:black;
    }

    .btn_right_select{
      background-color: deeppink;
      width: 150PX;
      height: 50PX;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-right-radius: 50PX;
      border-bottom-right-radius: 50PX;
      font-size: 16PX;
      color:white;
    }
  }
  .login_input_view{
    margin: auto;
    width: 80%;
    .input_name{
      margin-top: 10PX;
      height: 50PX;
      background: cornsilk;
      border-radius:10PX;
      display: flex;
      align-items: center;
    }
    .input_psw{
      margin-top: 10PX;
      height: 50PX;
      background: cornsilk;
      border-radius:10PX;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .send_code_txt{
        margin-right: 10PX;
        font-size: 15PX;
        color:red;
      }
    }
  }

  .login_bottom_view{
    position: fixed;
    bottom: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    .login_bottom_btn{
      width: 200PX;
    }
  }





}
